
body{
	font-family: "Kumbh Sans";
	margin: 0px;
	background-color: #F2F2F2;
}

/**********PAGE HEADER**********/
.pgheader__backdropcontainer{
	/*border: 1px solid;*/
	height: 160px;
	width: 1440px;
}
.pgheader__backdrop{
	clip-path:inset(47px 0 0 0);
}

.pgheader__h1{
	color: #FFFFFF;
    font-size: 32px;}


.pgheader__svg{
	
	color: white;
}

/********PAGE HEADER LAYOUT*********/


.pgheader__backdrop{
	position: absolute;
	z-index: -1;
	left: 6px;
}




.pgheader__h1{
	 position: absolute;
	 width: 115px;
	 left: 158px;
	 top: 47px;
	 margin: 0;
	 margin-left: 28px;
}

.pgheader__lighticon{
margin-right: 16px;
}

.pgheader__backdropcontainer{
	position: relative;
	margin-top: -47px;
}

/**layout of the dark mode switch relative to the pgheader__backdropcontainer**/
.darkmodeswitch{
  position: absolute;
  top: 45px;
  left: 1187px;
}



/******MAIN NAVIGATION*******/
.nav{
width: 1110px;
position: relative;
left: 165px;}

.nav__form{
	border-radius: 6px;
}

.nav__titlefieldlabel{
	width: 463px;
}

.nav__titlefield{
	width: 271px;
}

.nav__locationfieldlabel{
	width: 300px;
}
.nav__locationfield{
	width: 135px;
	margin-left: 16.9px;
}

.nav__checkbox{
width: 24px;
height: 24px;
 -webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance: none;
border-radius: 3px;
background: #19202D;
opacity: 10.35%;

  

}
.nav__locationfieldlabel,.nav__titlefieldlabel{
	border-right:1px solid #6E8098;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	height: 80px;
	display: inline-flex;
	align-items: center;
}

.nav__locationfield,.nav__titlefield{
	border: none;
	

}
.nav__titlefield::placeholder,.nav__locationfield::placeholder,#searchbutton{
	text-align:center;
	line-height: 16.09px;
	font-size: 16px;

}

.nav__titlefield::placeholder,.nav__locationfield::placeholder{
	color: #19202D;
	opacity: 0.5;
	font-weight: 400;
	font-family: "Kumbh Sans";
}

.nav__fulltimelabel{
	font-style: normal;
    font-weight: 700;
       color: #19202D;}

#searchbutton{
	background-color: #5964E0;
	color: #FFFFFF;;
	font-weight: bold;
	height: 48px;
	width: 123px;
	font-family: "Kumbh Sans";
	border-radius: 5px;
	border: none;
	margin-top: 10px; 
}




/******MAIN NAVIGATION INTERNAL LAYOUT******/

.nav__form{
 /*border: 1px solid yellow;*/
 background: #FFFFFF;
}

.nav__magnifyingglass{
	margin-left: 32px;
}

.nav__titlefield{
	margin-left: 10.06px;
}

.nav__locationsymbol{
	margin-left: 20.09px;
}