
body{
	font-family: "Kumbh Sans";
	margin: 0px;
}


.pgheader__label{
/*width: 112px;
height: 24px;*/
}

.pgheader__svg{
	
	color: white;
}

.pgheader__background{
	position:absolute;
	clip-path:inset(47px 0 0 0);
	/*top: 47px;*/
	z-index: -1;
	left: 6px;

}
.pgheader__h1{
	color: #FFFFFF;
    font-size: 32px;}


/*Page Header layout*/

.pgheader__h1{
	 position: absolute;
	 width: 115px;
	 left: 158px;
	 top: 94px;
	 margin: 0;
	 margin-left: 28px;
}

.pgheader__lighticon{
margin-right: 16px;
}

.pgheader__backdrop{
	border: 1px solid;
	height: 160px;
	width: 1440px;
	position: relative;
	padding-top: -47px;
	/*left: 30px;*/
}