body{
	font-family: sans-serif;
	font-size: 14px;
	color: #6E7882;
	font-weight: 600;
	margin: 0px;
}


.header--h1{
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
    

}

/*back button*/
.fa-angle-left{
	font-size: 20px;
	font-weight: 900;}

/*Settings buttons*/
.fa-angle-right{
	font-size: 20px;
}

.avatar{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	background-color: #C3D0D9;
}
/*user avatar icon*/
.avatar--i{
	font-size: 30px;
	margin-top: 30px;


}

.Settings{
	list-style-type: none;
}

.Settings li{
border: 1px solid;
border-bottom: none;
border-right: none;
border-left: none;
height: 40px;
}
 

.profile{
	background-color: #2989D8;
	width: 20px;
	height: 20px;
	text-align: center;
	margin-left: 15px;
}
/*icon adjacent to "Edit Profile"*/
.profile--i{
	color: #F2FEFA;
	font-size: 14px;
	margin-left: 0px!important;
	
}

.ResetPasswrd--i{
	color: #F6C239;
}

.Notification--i, .Notification--toggle{
	color:#24A99B;
}

.BlockedUsers--i{
	color:#CD5A6D;}

.LinkedAccounts--i{
	color:#7FA7BA;
}

.AddAccount--i{
	color: #7A70E5;
}

/*Header Layout*/

header{
    display: flex;
    margin-top: 20px;}

.header--backbutton{
	margin-left: 18px;
}


.header--a{
	margin-left: 21px;}

.header--h1{
	margin-left: 60px;
}

/*Avatar layout*/
.avatar{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

/*Settings Layout*/

.Settings{
	padding: 0;
}

.Settings li{
	display: flex;
	align-items: center;	
}

.Settings i{
	margin-left: 15px;
}

.Settings p{
	margin-left: 15px;
}

.fa-angle-right,.Notification--toggle{
    position: absolute;
    right: 20px;
}