body{
	font-family: sans-serif;
	font-size: 14px;
	color: #6E7882;
	font-weight: 600;
	margin: 0px;
}


.header--h1{
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
    

}


.fa-angle-left{
	font-size: 20px;
	font-weight: 900;}

.fa-angle-right{
	font-size: 20px;
}

/*Header Layout*/

header{
    display: flex;}

.header--backbutton{
	margin-left: 18px;
}


.header--a{
	margin-left: 25px;}

.header--h1{
	margin-left: 60px;
}